.Rproj.user
.Rhistory
.RData
.Ruserdata
._*
.DS_Store
~$*
Rmd/*.html
Rmd/*_cache/
Rmd/*_files/
Rmd/*.R
Rmd/rds/
Rplots.pdf
analysis/
benchmarks/
bigwig_Uli/
logs/
output/
output_riboZero/
reference/
ARMOR/
DEU/
DE_results_Uli/
FASTQ/
FASTQ_RNAseq/
IGV/
*.Rproj
.Renviron
.snakemake/
